<header id="header" data-uk-sticky="show-on-up: true; animation: uk-animation-fade; media: @l">
    <nav class="uk-navbar-container" uk-navbar="mode: click">
        <div class="uk-navbar-left uk-margin-top uk-margin">
            <a class="uk-navbar-item uk-logo uk-margin-left" href="/" title="Cole Greenlee">
                <h2>Cole Greenlee</h2>
            </a>
            <ul class="uk-navbar-nav uk-grid">
                {{ range .Site.Menus.main }}
                <li class="uk-navbar-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>

    </nav>
</header>