{{ define "main" }}

<section class="uk-section uk-section-secondary">
    <div class="uk-container uk-container-small">
        <h2 class="uk-heading-line uk-text-bold"><span>My Projects</span></h2>
    </div>
</section>
<section class="uk-section uk-section-default">
    <div class="uk-container uk-container-large">
        <div class="uk-grid-column-small uk-grid-row-large" uk-grid>
            {{ range .Pages }}
            <div
                class="uk-animation-scale-down uk-margin-remove-top uk-margin-small uk-width-1-3@m uk-width-1-2@s uk-flex-first">
                <div class="uk-card uk-card-secondary">
                    <article class="uk-section uk-section-small uk-padding-small uk-padding-remove">
                        {{ if (isset .Params "thumbnailimage") }}
                        <div class="uk-card-media-top">
                            <div class="uk-height-medium uk-flex uk-flex-center uk-background-cover uk-padding-remove-top"
                                data-src="{{ .Params.thumbnailImage }}" uk-img>
                                <div class="uk-overlay uk-overlay-primary uk-width-1-1">
                                    <h2 class="uk-padding-small uk-text-break uk-text-primary uk-text-bold">
                                        <span class="">{{ .Title }}</span>
                                    </h2>
                                    </span>
                                </div>
                            </div>
                            {{ else }}
                            <div class="uk-card-header uk-padding-small">
                                <header>
                                    <a title="{{ .Title }}" class="uk-link-reset" href="{{ .RelPermalink }}">
                                        <h2 class="uk-card-title">{{ .Title }}</h2>
                                    </a>


                                </header>
                                <hr />
                            </div>
                            {{ end }}
                            <div class="uk-card-body uk-height-medium uk-padding-small">
                                {{ if .Draft }}

                                <span class="uk-label uk-label-warning">This Project is a Draft</span>
                                <br />
                                {{ end}}
                                <p>{{ .Summary }}</p>
                            </div>

                            <div class="uk-card-footer">
                                {{ if (isset .Params "associatedpostslug") }}
                                <a href="/posts/{{ .Params.associatedPostSlug }}" title="Read More"
                                    class="uk-button uk-button-primary">READ
                                    MORE</a>
                                {{ else }}
                                <a href="{{ .RelPermalink }}" title="Read More" class="uk-button uk-button-primary">READ
                                    MORE</a>
                                {{end}}
                                {{ if (isset .Params "repourl")}}
                                <a href="{{ .Params.repoURL }}" title="GitHub"
                                    class="uk-button uk-button-default">Repository</a>
                                {{ end }}


                            </div>
                    </article>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}