{{ define "main" }}

<section class="uk-section uk-section-secondary">
  <div class="uk-container">
    <div class="uk-grid uk-grid-column uk-grid-row-large">
      <div class="uk-width-1-4@m uk-width-1-2@s">
        <img src="/img/profile.jpg" class="uk-margin-bottom uk-margin-right uk-border-circle"
          uk-tooltip="title: What a handsome young lad!" />
        <div class="uk-panel">
          <div class="uk-container uk-container-large">
            <h2 class="uk-heading uk-text-bold"><span>📬 Get In Touch</span></h2>
            <div class="uk-grid uk-grid-column-small uk-grid-row-large">
              <a href="mailto:cole@greenlee.io" title="Email Me"
                class="uk-button uk-button-default uk-width-1-2">Email</a>
              <a href="https://linkedin.com/in/ColeGreenlee" title="LinkedIn"
                class="uk-button uk-button-default uk-width-1-2">LinkedIn</a>
              <a href="https://twitter.com/ColeGreenlee" title="Twitter"
                class="uk-button uk-button-default uk-width-1-2">Twitter</a>
              <a href="https://GitHub.com/ColeGreenlee" title="GitHub"
                class="uk-button uk-button-default uk-width-1-2">GitHub</a>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-3-4@m uk-width-1-2@s">
        <h2 class="uk-heading-line uk-text-bold uk-flex-middle"><span>👋 Hey there! I'm Cole!</span></h2>
        <h4 class="uk-text-lead">I'm on a journey to learn more about computing, development best practices, and
          everything inbetween.</h4>
        <p class="uk-text-lead">I'm a student at the University of Minnesota - Twin Cities. I enjoy developing backend
          API services, tinkering with network configurations, and managing my homelab of servers during my freetime.
          When I'm not in class or out rockclimbing, you can probably find me wrangling code.
        <p class="uk-text-lead uk-text-bold">I'm always looking for new opportunities; if it sounds like a good fit,
          let's talk!</p>
      </div>

    </div>

  </div>

</section>

<section class="uk-section uk-section-default uk-padding-remove-top uk-margin-remove-top">
  <div class="uk-grid uk-grid-column-small uk-grid-row-large">
    <div class="uk-width-1-2@m uk-width-1-1@s">
      <section class="uk-section">
        <div class="uk-container uk-container-small uk-margin-bottom">
          <h2 class="uk-heading-line uk-text-bold"><span>💻 My Projects</span></h2>
        </div>
        <div class="uk-container uk-container-xl">
          <div class="uk-grid-column-small uk-grid-row-medium" uk-grid>
            {{- range (where .Site.RegularPages "Section" "projects").ByWeight }}
            <div
              class="uk-animation-scale-down uk-margin-remove-top uk-margin-small uk-width-1-2@m uk-width-1-1@s uk-flex-first">
              <div class="uk-card uk-card-secondary">
                <article class="uk-section uk-section-small uk-padding-small uk-padding-remove">

                  <div class="uk-card-media-top">
                    <div class="uk-height-medium uk-flex uk-flex-center uk-background-cover uk-padding-remove-top"
                      data-src="{{ if (isset .Params "thumbnailimage") | or (eq .Params.thumbnailImage "") }}{{.Params.thumbnailImage}}{{else}}https://picsum.photos/500/500/?random=1&x={{ index (seq 999 | shuffle) 0 }}{{end}}"
                      uk-img>
                      <div class="uk-overlay uk-overlay-primary uk-width-1-1">
                        <a
                          href="{{ if (isset .Params "associatedpostslug") }}/posts/{{ .Params.associatedPostSlug }} {{ else }}{{ .RelPermalink }}{{end}}">
                          <h2 class="uk-padding-small uk-text-break uk-text-primary uk-text-bold">
                            <span class="">{{ .Title }}</span>
                          </h2>
                        </a>
                        </span>
                      </div>
                    </div>

                    <div class="uk-card-body uk-height-medium uk-padding-small">
                      {{ if .Draft }}
                      <span class="uk-label uk-label-warning">This Project is a Draft</span>
                      <br />
                      {{ end}}
                      <p>{{ .Summary }}</p>
                    </div>
                    <div class="uk-card-footer">
                      {{ if (isset .Params "associatedpostslug") }}
                      <a href="/posts/{{ .Params.associatedPostSlug }}" title="Read More"
                        class="uk-button uk-button-primary">READ
                        MORE</a>
                      {{ else }}
                      <a href="{{ .RelPermalink }}" title="Read More" class="uk-button uk-button-primary">READ
                        MORE</a>
                      {{end}}
                      {{ if (isset .Params "repourl")}}
                      <a href="{{ .Params.repoURL }}" title="GitHub" class="uk-button uk-button-default">Repository</a>
                      {{ end }}
                    </div>
                </article>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </section>
    </div>
    <div class="uk-width-1-2@m uk-width-1-1@s">
      <section class="uk-section">
        <div class="uk-container uk-container-small uk-margin-bottom">
          <h2 class="uk-heading-line uk-text-bold"><span>📰 Recent Posts</span></h2>
        </div>
        <div class="uk-container uk-container-large">
          <div class="uk-grid-column-small uk-grid-row-large" uk-grid>
            {{- range (where .Site.RegularPages "Section" "posts").ByWeight }}
            <div
              class="uk-animation-scale-down uk-margin-remove-top uk-margin-small uk-width-1-2@m uk-width-1-1@s uk-flex-first">
              <div class="uk-card uk-card-secondary">
                <article class="uk-section uk-section-small uk-padding-small uk-padding-remove">
                  <div class="uk-card-media-top">
                    <div class="uk-height-medium uk-flex uk-flex-center uk-background-cover uk-padding-remove-top"
                      data-src="{{ if (isset .Params "thumbnailimage") | or (eq .Params.thumbnailImage "") }}{{.Params.thumbnailImage}}{{else}}https://picsum.photos/500/500/?random=1&x={{ index (seq 999 | shuffle) 0 }}{{end}}"
                      uk-img>
                      <div class="uk-overlay uk-overlay-primary uk-width-1-1">
                        <h2 class="uk-padding-small uk-text-break uk-text-primary uk-text-bold">
                          <span class="">{{ .Title }}</span>
                        </h2>
                        </span>
                      </div>
                    </div>
                    <div class="uk-card-body uk-height-medium uk-padding-small">
                      {{ if .Draft }}
                      <span class="uk-label uk-label-warning">This Post is a Draft</span>
                      <br />
                      {{ end}}
                      <p>{{ .Summary }}</p>
                    </div>

                    <div class="uk-card-footer">
                      <a href="{{ if (isset .Params "associatedpostslug") }}/posts/{{ .Params.associatedPostSlug }} {{ else }}{{ .RelPermalink }}{{end}}"
                        title="Read More" class="uk-button uk-button-primary">READ
                        MORE</a>
                      {{ if (isset .Params "repourl")}}
                      <a href="{{ .Params.repoURL }}" title="GitHub" class="uk-button uk-button-default">Repository</a>
                      {{ end }}
                    </div>
                </article>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
{{ end }}